
body
	{
		
		font-family:"Times New Roman";
	}
span   
	{
              padding-left: 25px;
	}
#Head   
	{
		font-weight: bold;
		font-size: 35px;
		text-align: center;
		background-color: white;
	}


#Links 
	{
		text-decoration: underline;
		text-align: left;
		background-color: white;
	}
#Footer
	{
		text-align: center;
		background-color: white;
	}
		

