
body
	{
		
		font-family:"Times New Roman";
	}
span   
	{
              padding-left: 25px;
	}
#Head   
	{
		font-weight: bold;
		font-size: 35px;
		text-align: center;
		background-color: white;
	}

a:hover {
		font-weight: bold;
	}

a:link  {
	    color: blue;
	}

a:visited{
	    color: purple;
	  }
#Links 
	{
		font-weight: 
		text-decoration: none;
		text-align: left;
		background-color: white;
		color: blue;
	}
#Footer
	{
		text-align: center;
		background-color: white;
	}
		

