
body {
		
		font-family:"Times New Roman";
		background-color: AliceBlue;
	}

#head{
	font-weight: bold;
	text-align: center;
	background-color: white;
	}

a:hover {
	font-weight: bold;
	}

a:link  {
	    color: blue;
	}

a:visited{
	    color: purple;
	  }

.navtabs {
	
		font-weight: bold;
		text-decoration: none;
		background-color: white;
		color: blue;
		
	}
#Footer
	{
		text-align: center;
		background-color: white;
	}
		
